# Based on https://raw.githubusercontent.com/github/gitignore/main/Node.gitignore

# Logs

*.log
_.log
npm-debug.log_
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Based on https://raw.githubusercontent.com/github/gitignore/main/Node.gitignore

# ------------------------------
# OS / System Files
# ------------------------------
.DS_Store
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# ------------------------------
# Editors / IDE
# ------------------------------
.idea
.vscode-test

# ------------------------------
# Logs
# ------------------------------
*.log
_.log
lerna-debug.log*
npm-debug.log*
.pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# ------------------------------
# Environment / Secrets
# ------------------------------
.env
.env.development.local
.env.local
.env.production.local
.env.test.local

# ------------------------------
# Dependencies
# ------------------------------
.pnp.*
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/integrity
.yarn/unplugged
bower_components/
jspm_packages/
node_modules/
web_modules/

# ------------------------------
# Build / Dist / Output
# ------------------------------
.docusaurus
.next
.nuxt
.temp
.vuepress/dist
build
build-cjs
build/Release
dist
lib-cov
out
out-tsc
publish
src/**/*.d.ts
src/**/*.d.ts.map
src/**/*.js
src/**/*.js.map
typings
!src/eslint/**/*.mjs
examples/**/*.d.ts
examples/**/*.d.ts.map
examples/**/*.js
examples/**/*.js.map
!examples/**/node_modules/**
build-scripts-cjs
build-scripts-esm
build-src-cjs
build-src-esm

# ------------------------------
# Testing / Coverage
# ------------------------------
coverage
*.lcov
.nyc_output
test-results.json

# ------------------------------
# Caches / Temporary Files
# ------------------------------
.cache
.archive-audits/
.node_repl_history
.npm
.parcel-cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
*.tgz
*.tsbuildinfo
.eslintcache
.stylelintcache
.tern-port

# ------------------------------
# Docker / Containers
# ------------------------------
.dynamodb/
.fusebox/
.serverless/

# ------------------------------
# Miscellaneous
# ------------------------------
.lock-wscript
archive/
personal/
!**/**/mongo-init.js
!/scripts/publish
!/scripts/build
# public
